body {
    background-color: #13138A;
}

.mapdiv {
    text-align: center;
    height: 10%;
    margin: auto;
}

.mapdiv path {
    fill: #E5FB00;
    stroke: #FD0006;
    stroke-width: 1px;
    transition: fill 0.3s;
}

.mapdiv :hover {
    fill: #8B9800;
}